<html>
	<body>
		<head>
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  			  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  			  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		</head>	
		<form action="/get" method="GET">
			User id: <input type="number" name="user_id" ng-model="users.user_id">  <br>

			User Name: <input type="text" name="user_name" ng-model="users.user_name">
						<input type="submit" value="Submit">
		</form>
	</body>
</html>